<!DOCTYPE html>
<html>
<head>
	<style type="text/css">
		@@import '@Url.ContentWithSalt("~/public/styles/controls.css")';
		
		html, body {
		overflow: hidden;
		width: 100%;
		height: 100%;
		margin: 0px;
		padding: 0px;
		}

		.toolbarButton {
			display: inline-block;
			color: #fff;
			background-color: #3668b1;
			padding: 4px 12px !important;
			margin-left: 10px;
			cursor: pointer;
			position: relative;
			top: 20px;
		}
		.disabledToolbarButton {
			pointer-events: none;
			background-color: #a2b0c4;
		}
		.toolbarButton:hover {
			background-color: #4b8be8;
		}

		.claro .dojoxGrid {
			border: none !important;
		}

		.claro .dojoxGridMasterHeader {
			background: none !important;
		}

		div.dojoxGridHeader table.dojoxGridRowTable, .claro .dojoxGridMasterHeader {
			border-collapse: initial !important;
		}

		.claro .dojoxGridArrowButtonNode {
			float: right !important;
		}

		.disabledOption {
		    color: #FF0000 !important;
		}

		#viewBorderContainer {
			position: fixed;
			top: 0;
			left: 25px;
			bottom: 70px;
			right: 0;
		}

		#validationResolutionToolbar {
			height: 70px;
		}

		#variableGridContainer {
			height:100%;
			width: 100%;
		}
	</style>
	<script type="text/javascript" src="@Url.ContentWithSalt("~/javascript/include.aspx?classes=/dojo.js")" data-dojo-config="isDebug: false, parseOnLoad: false, baseUrl:'@Url.ContentWithSalt("~/javascript/dojo")'"></script>
	<script type="text/javascript" src="@Url.ContentWithSalt("~/javascript/include.aspx?classes=XmlDocument")"></script>
	<script type="text/javascript" src="@Url.ContentWithSalt("~/Modules/aras.innovator.Configurator/Scripts/ValidationResolution/ValidationResolutionTabViewController.js")"></script>
</head>
<body class="claro">
	<div data-dojo-type="dijit/layout/BorderContainer" data-dojo-props="liveSplitters:false, gutters:false, design:'sidebar'" id="viewBorderContainer">
		<div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'top'" id="validationResolutionToolbar">
			<div id="validate_button" class="toolbarButton">Validate</div>
			<div id="validate_selection_button" class="toolbarButton">Validate Selection</div>
			<div id="get_reasons_button" class="toolbarButton">Get Reasons</div>
			<div id="validate_usages_button" class="toolbarButton">Validate Usages</div>
			<div id="resolve_structure_button" class="toolbarButton">Resolve Structure</div>
		</div>
		<div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'top', splitter: true" id="variableGridContainer"></div>
	</div>
</body>
</html>