<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript">
		document.writeln('<base HREF="'+parent.aras.getScriptsURL()+'" />');
	</script>
	<style type="text/css">
		@@import "@Url.ContentWithSalt("~/javascript/include.aspx?classes=variantsTree.css")";
		#top {
			display: none;
		}
	</style>
	<script type="text/javascript" src="@Url.ContentWithSalt("~/javascript/include.aspx?classes=/dojo.js")" data-dojo-config="isDebug: false, parseOnLoad: false, baseUrl:'@Url.ContentWithSalt("~/javascript/dojo")'"></script>
	<script type="text/javascript" src="@Url.ContentWithSalt("~/javascript/include.aspx?classes=ScriptSet1")"></script>
	<script type="text/javascript" src="@Url.ContentWithSalt("~/Modules/aras.innovator.Configurator/Scripts/VariantsTree/VariantsTreeTabViewController.js")"></script>
</head>
	<body class="claro">
		<div id="variantsTreeTitle">
			<span class="titleNamePrefix">Variant Tree | </span>
			<span class="titleScopeName"></span>
		</div>
		<div id="variantsTreeControls"></div>
		<div id="variantsTreeInfo"></div>
		<div id="variantsTreeContainer"></div>
	</body>
</html>
