<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="@Url.ContentWithSalt("~/javascript/include.aspx?classes=common.min.css")" />
		<link rel="stylesheet" href="@Url.ContentWithSalt("~/Modules/aras.innovator.core.EffectivityServices/Styles/EffectivityStyles.min.css")" />
		<link rel="stylesheet" href="@Url.ContentWithSalt("~/Modules/aras.innovator.VariantManagementSample/styles/variantManagement.css")" />
		<link rel="stylesheet" href="@Url.ContentWithSalt("~/Modules/aras.innovator.VariantManagementSample/styles/usageConditionTableEditor.css")" />

		<script src="@Url.ContentWithSalt("~/javascript/include.aspx?classes=ArasModules")"></script>
		<script src="@Url.ContentWithSalt("~/Modules/aras.innovator.core.EffectivityServices/Scripts/effs_cuiFormatters.js")"></script>
		<script src="@Url.ContentWithSalt("~/Modules/aras.innovator.VariantManagementSample/Scripts/common/vmItemFieldHelper.js")"></script>
		<script src="@Url.ContentWithSalt("~/Modules/aras.innovator.VariantManagementSample/Scripts/variableComponentItemUsageConditionTableEditorPageController.js")"></script>
		<script>
			window.addEventListener('DOMContentLoaded', function() {
				const aras = window.parent.aras;

				new window.VariableComponentItemUsageConditionTableEditorPageController({
					aras: aras,
					itemFieldFormatter: effs_cuiFormatters.effs_item_field,
					variabilityItemFieldTitleElement: document.querySelector('.vm-usage-condition-table-editor-selection__variability-item-field-label'),
					variabilityItemFieldContainerElement: document.querySelector('.vm-usage-condition-table-editor-selection__variability-item-field-container'),
					splitterElement: document.querySelector('.aras-splitter')
				});
			});
		</script>
		<base href="../../../scripts/">
	</head>
	<body class="effs-no-overflow vm-padded-page">
		<div class="aras-accordion vm-fit-all-space">
			<div class="aras-accordion__content aras-flex vm-fit-all-space">
				<div class="vm-padded-container vm-splitter-pane_left vm-splitter-pane_min-width_305 vm-usage-condition-table-editor-selection aras-flex aras-flex_column aras-flex-grow">
					<span class="vm-usage-condition-table-editor-selection__variability-item-field-label"></span>
					<div class="vm-usage-condition-table-editor-selection__variability-item-field-container"></div>
				</div>
				<div class="aras-splitter vm-splitter vm-splitter_vertical"></div>
				<div class="vm-splitter-pane_right vm-splitter-pane_min-width_305 vm-usage-condition-table-editor aras-flex aras-flex_column"></div>
			</div>
		</div>
	</body>
</html>
