<!DOCTYPE html>
<html>
<head>
	<style>
		@@import "@Url.ContentWithSalt("~/javascript/include.aspx?classes=variantsTree.css")";
		@@import "@Url.ContentWithSalt("~/Modules/aras.innovator.VariantManagementSample/styles/variantTree.css")";
		@@import "@Url.ContentWithSalt("~/Modules/aras.innovator.VariantManagementSample/styles/labeledRangeSlider.css")";
	</style>
	<script src="@Url.ContentWithSalt("~/javascript/include.aspx?classes=ArasModules")"></script>
	<script src="@Url.ContentWithSalt("~/javascript/include.aspx?files=classList")"></script>
	<script src="@Url.ContentWithSalt("~/javascript/include.aspx?classes=/dojo.js,ScriptSet1")" data-dojo-config="isDebug: false, parseOnLoad: false, baseUrl:'@Url.ContentWithSalt("~/javascript/dojo")'"></script>
	<script src="@Url.ContentWithSalt("~/Modules/aras.innovator.VariantManagementSample/Scripts/variantTree/variantTreePageViewController.js")"></script>
	<base href="../../../scripts/">
</head>
<body class="claro">
	<div id="variantTreeTitle">
		<span class="titleNamePrefix">Variant Tree | </span>
		<span class="titleScopeName"></span>
	</div>
	<div id="variantTreeControls"></div>
	<div id="variantTreeInfo"></div>
	<div id="variantTreeContainer"></div>
</body>
</html>
